    body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
   background-color: black;
    color: white;
}

.navbar .links a, .navbar .cuenta a {
    color: white;
    margin-left: 1em;
    text-decoration: none;
}

.hero {
    position: sticky;
    height: 500px;
    display: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 0;
    object-fit: cover;
    filter: brightness(0.6);
}

.hero-content {
    position: relative;
    top: 160px;
    z-index: 1;
    color: white;
}

.hero-content h1 {
    font-size: 3em;
    margin: 0.2em 0;
}

.hero-content h2 {
    font-size: 1.5em;
    margin: 0;
}

.intro {
    padding: 2em;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 1.5em;
}

.card {
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.card1, .card2, .card3, .card4, .card5, .card6 {
    position: relative;
    background-color: #3a3838;
    padding: 1em;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden; 
    color: white;
    transition: background 0.3s ease;
}

.card2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/cueva.jpeg'); 
    background-size: cover;
    background-position: center;
    opacity: 0.2; 
    transition: opacity 0.3s ease;
    z-index: 0;
}
.card3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/cueva.jpeg'); 
    background-size: cover;
    background-position: center;
    opacity: 0.2; 
    transition: opacity 0.3s ease;
    z-index: 0;
}
.card4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/cueva.jpeg'); 
    background-size: cover;
    background-position: center;
    opacity: 0.2; 
    transition: opacity 0.3s ease;
    z-index: 0;
}
.card5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/cueva.jpeg'); 
    background-size: cover;
    background-position: center;
    opacity: 0.2; 
    transition: opacity 0.3s ease;
    z-index: 0;
}
.card6:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/cueva.jpeg'); 
    background-size: cover;
    background-position: center;
    opacity: 0.2; 
    transition: opacity 0.3s ease;
    z-index: 0;
}
.card1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/cueva.jpeg'); 
    background-size: cover;
    background-position: center;
    opacity: 0.2; 
    transition: opacity 0.3s ease;
    z-index: 0;
}


.tradiciones {
    text-align: center;
    padding: 3em 1em;
    background-color: white;
}

.tradiciones h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.tradiciones p {
    max-width: 700px;
    margin: 0 auto 2em;
    font-size: 1em;
    color: #444;
}

.tradiciones-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin: 10px auto;
    max-width: 1000px;
}

.Imagen-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-radius: 5px;
}

.Imagen {
    transition: transform 0.3s ease;
    transform-origin: center center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Imagen:hover {
    transform: scale(1.5);
}

.mision {
    background: #e7e3dc url('x" width="40" height="40"><text x="0" y="20" font-size="20" fill="gray">✂️</text></svg>') repeat;
    padding: 4em 1em;
}

.mision-box {
    background: white;
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.mision-box h2 {
    text-align: center;
    margin-bottom: 1em;
}

.mision-box p {
    text-align: justify;
    margin-bottom: 1em;
    line-height: 1.6;
}

.card1 * {
    position: relative;
    z-index: 1;
    transition: opacity 0.3s ease;

}

.card1:hover::before, .card2:hover::before, .card3:hover::before, .card4:hover::before, .card5:hover::before ,.card6:hover::before {
    opacity: 1;
}

.card1:hover * {
    opacity: 0;
}

.Reservas {
    height: 70px;
    width: 160px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #639aff;
    color: white;
    border: 2px solid rgb(62, 62, 62); 
    padding: 1em 1.5em;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.Reservas:hover {
    background-color: #4b7390;
}

.modal {
    display: none;      
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 70%;
    max-height: 70%;
    border-radius: 10px;
}

#close {
    position: absolute;
    top: 30px;
    right: 50px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 101;
}